// theme colors
$theme-light-primary: #85B79D;
$theme-light-primary-hover: lighten($theme-light-primary, 10%);
$theme-dark-primary: #16302B;
$theme-light-secondary: #f5f5f5;
$theme-light-grey: #c6c6c6;
$theme-dark-grey: #959FA6;
$theme-shadow: lighten($theme-light-grey, 5%);
$theme-main-background: #F2F3F7;

// defining bulma variables
$link: $theme-light-primary;
$link-visited: $theme-light-primary;
$family-primary: "Roboto", sans-serif;
$footer-background-color: $theme-dark-primary;

// navbar
$navbar-background-color: $theme-dark-primary;
$navbar-height: 5rem;
$navbar-item-color: $theme-light-primary;
$navbar-item-hover-color: $theme-light-primary-hover;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $theme-light-primary-hover;

// discussion
$theme-discussion-background: #F3F6F9;
$theme-discussion-background-2: #DEECF7;
$theme-discussion-background-3: #2D4150;
$theme-discussion-border: #CCCCCC;
$theme-discussion-list-background: #F2F6F9;

// modal
$modal-card-head-background-color: #F2F6F9;
$modal-card-head-border-bottom: #F2F6F9;
$modal-card-body-background-color: #F2F6F9;
$modal-card-foot-border-top: #F2F6F9;
$modal-card-title-color: black;

// (?) legacy
$panel-block-active-border-left-color: $orange;
$panel-block-active-icon-color: $orange;
$table-background-color: opacity(0);
