@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("../fonts/zazuko/Roboto-Light.woff") format("woff"),
       url("../fonts/zazuko/Roboto-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  src: url("../fonts/zazuko/Roboto-Regular.woff") format("woff"),
       url("../fonts/zazuko/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/zazuko/Roboto-Medium.woff") format("woff"),
       url("../fonts/zazuko/Roboto-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("../fonts/zazuko/Roboto-Bold.woff") format("woff"),
       url("../fonts/zazuko/Roboto-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Playfair Display";
  font-weight: bold;
  src: url("../fonts/zazuko/PlayfairDisplay-Bold.woff") format("woff"),
       url("../fonts/zazuko/PlayfairDisplay-Bold.woff2") format("woff2");
}
