::selection {
  background: hsl(11,96%,55%);
  color: white;
}

%headline {
  font-family: $family-secondary;
  font-weight: bold;
  color: $black;
}

%simple-headline {
  font-family: inherit;
  font-weight: $weight-semibold;
}

h1,
h2 {
  @extend %headline;
}

h3 {
  color: hsl(0, 0%, 13%);
  font-size: 16px;
  font-weight: $weight-semibold;
  line-height: 22px;
  color: $black;
}

a {
  text-decoration: none;
  font-weight: 400;
}

.tag {
  font-weight: $weight-normal;
}

.icon {
  vertical-align: middle;
  margin-top: -.15em;

  &.is-small {
    margin-top: 0;
  }
}

.main {
  position: relative;
  z-index: 1;
}

.container {
  position: static;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.highlighted-link {
  display: inline-block;
  position: relative;
  color: inherit;
  text-decoration: none;
  font-family: monospace;
  white-space: nowrap;
  transition: color .1s ease;
  z-index: 0;
  color: black;

  @include touch {
    display: inline;
    white-space: initial;
    box-shadow: 0 2px $red;
  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    bottom: -2px;
    left: 0;
    right: 0;
    background-color: $red;
    z-index: -1;
    transition: .15s ease;

    @include touch {
      display: none;
    }
  }

  &:focus,
  &:hover {
    color: white;
    outline: 0;

    &:after {
      left: -3px;
      right: -3px;
      bottom: -5px;
      height: calc(1.5rem + 10px);
    }
  }
}

$mobile-column-gap: 1em;

.column {
  @include touch {
    padding: $mobile-column-gap;
  }
}

.columns {
  @include touch {
    margin-left: (-$mobile-column-gap);
    margin-right: (-$mobile-column-gap);
    margin-top: (-$mobile-column-gap);

    &:last-child {
      margin-bottom: (-$mobile-column-gap);
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.has-primary-background,
.has-secondary-background {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background: $bg-light;

  > .container {
    flex-grow: 0;
  }
}

.main-title {
  font-size: 3.75em;
  line-height: 1;
  color: $theme-light-primary;

  + .subtitle {
    margin-top: 1rem;
  }
}

ul.dash-bullet {
    list-style-type: none;
    padding-left: 1em;

  li:before {
    content: "–";
    position: absolute;
    margin-left: -1em;
  }
}

ul.types-list {
  @extend .dash-bullet;
}

section hr {
  border: 0;
  height: 0;
  border-top: 1px solid $border-superlight;
}

.clickable-pointer {
  cursor: pointer;
}

.hoverable-icon {
  display: inline-block;
  width: 28px;
  height: 26px;
  cursor: pointer;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-position: center;

  &.activity {
    background-image: url('../images/zazuko/ic-activity.svg');
  }
  &.edit {
    background-image: url('../images/ic-edit.svg');
  }
  &.trash {
    background-image: url('../images/ic-trashcan.svg');
  }
}

.button {
  font-weight: $weight-normal;

  &:hover,
  &.is-hovered {
    box-shadow: 0 0 0 2px $red inset;
  }

  &.is-dark-info {
    background: $theme-dark-primary;
    border: none;
    color: white;
  }
}

.toasted .primary,
.toasted.toasted-primary {
  box-shadow: none;
  border-radius: 0;

  &.success {
    background: hsl(122,39%,49%);
  }
}

.toasted {
  .action {
    font-size: .9em;
    margin: 4px -7px 2px 7px;
  }

  &.notification a:not(.button):not(.dropdown-item) {
    text-decoration: none;
  }
}

.pagination {
  margin: 0 0 1.5em .75em;
  background: white;
}

.aligned-with-button {
  margin-top: 3.5px;
  display: inline-block;
}

.title {
  @include touch {
    text-align: center;
  }
}

.title-url {
  font-family: monospace;
  font-size: .9em;
  margin: 0 0.4em;
  vertical-align: bottom;
}

.material-design-icon {
  > .material-design-icon__svg {
    bottom: 0;
  }

  .control & {
    font-size: 1.4em;
  }
}

.select select {
  padding-top: 0;
  padding-bottom: 0;
}

code {
  border-radius: $code-radius;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}
