::selection {
  background: hsl(11,96%,55%);
  color: white;
}

h1,
h2,
h3 {
  font-family: $family-secondary;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-weight: 400;
}

.icon {
  vertical-align: text-top;
}

.main {
  position: relative;
  z-index: 1;
}

.container {
  position: static;
}

%highlighted-link {
  display: inline-block;
  position: relative;
  color: inherit;
  text-decoration: none;
  font-family: monospace;
  white-space: nowrap;
  transition: color .1s ease;
  z-index: 0;
  color: black;
  
  &:after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    bottom: -2px;
    left: 0;
    right: 0;
    background-color: $red;
    z-index: -1;
    transition: .15s ease;
  }

  &:focus,
  &:hover {
    color: white;
    outline: 0;

    &:after {
      left: -3px;
      right: -3px;
      bottom: -5px;
      height: calc(1.5rem + 10px);
    }
  }
}

.has-primary-background,
.has-secondary-background {
  min-height: 100vh;
  padding: 0 0 100px 0; margin: 0;
  position: relative;
}

.has-primary-background,
.has-secondary-background {
  background: $bg-light;
}

footer {
  border-top: 1px solid $border-light;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  @include touch {
    .level-left {
      display: flex;
      a {
        // for the logo
        padding-left: 15px;
      }
    }
    .level-right {
      // hide link "go to top"
      display: none;
    }
  }
}

.main-title {
  font-size: 3.75em;
  line-height: 1;
  margin-bottom: .5em;
  color: $theme-light-primary;
}

ul.dash-bullet {
    list-style-type: none;
    padding-left: 1em;

  li:before {
    content: "–";
    position: absolute;
    margin-left: -1em;
  }
}

ul.types-list {
  @extend .dash-bullet;
}

section hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.clickable-pointer {
  cursor: pointer;
}

.hoverable-icon {
  display: inline-block;
  width: 28px;
  height: 26px;
  cursor: pointer;
  background-repeat: no-repeat;
  vertical-align: middle;

  &.activity {
    background-image: url('../images/zazuko/ic-activity.svg');
  }
  &.edit {
    background-image: url('../images/ic-edit.svg');
  }
  &.trash {
    background-image: url('../images/ic-trashcan.svg');
  }
}

.button.is-dark-info {
  background: $theme-dark-primary;
  border: none;
  color: white;
}

.pagination {
  margin-bottom: 1em;
}

.aligned-with-button {
  margin-top: 3.5px;
  display: inline-block;
}

.title-url {
  @extend %highlighted-link;
}

.material-design-icon {
  > .material-design-icon__svg {
    bottom: 0;
  }

  .control & {
    font-size: 1.4em;
  }
}