.top-nav {
  border-bottom: 1px solid $border-light;
  
  .navbar-brand {
    position: relative;
    margin-right: 40px;
    padding: 0 30px;
    
    &:before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      right: 0;
      bottom: -1px;
      background: $bg-light;
      z-index: -1;
    }
    
    img {
      height: 80px;
      width: 140px;
      max-height: none;
      object-fit: contain;
      top: -2px;
      position: relative;
    }

    .product-name {
      display: none;
    }
  }

  .navbar-start {
    > .navbar-item {
      color: $theme-light-primary;
      font-size: 18px;
      margin: 0;
      padding: 0 10px;
      height: 100px;
      text-transform: uppercase;
      align-items: center;
        
      &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        height: 0;
        height: 101px;
        transform: scaleY(0);
        transform-origin: top;
        background: hsla(0,0%,100%,.2);
        transition: transform .15s ease-in-out;
        z-index: -1;
      }

      &:hover, &:focus,
      &.nuxt-link-active {        
        &:before {
          transform: none;
        }
      }
    }
  }

  .navbar-menu {
    flex-grow: 0;
    margin-left: auto;
  }

  .field {
    margin-bottom: 0;

    input {
      background-clip: padding-box;
    }
  }

  .notification-counter {
    @extend .tag;
    @extend .is-info;
    margin-left: 4px;
  }
}

.navbar-dropdown {
  box-shadow: $navbar-dropdown-shadow;
  padding: 0;
  font-size: 1em;
  margin-top: -1px;
  
  a.navbar-item {
    border: 1px solid $border;
    margin-top: -1px;
    padding: .19em 12px;
    max-width: 354px;
    
    &:hover {
      border-left: 5px solid $red;
      padding-left: 8px; // 12px + 1px (border) - 5px
    }

    &:focus {
      border-color: $red;
      color: white;
      background-color: $red;
      z-index: 2;
      
      .result-detail {
        color: lighten($red, 30%);
      }
    }
  }

  .result-title {
    max-width: 100%;
    flex-shrink: 0;
  }
  
  .result-title,
  .result-detail {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .result-detail {
    min-width: 0;
    margin-left: .33em;
    color: gray;
  }
}