
// theme colors
$theme-light-primary: black;
$theme-light-primary-hover: lighten($theme-light-primary, 10%);
$theme-dark-primary: $orange;
$theme-light-secondary: hsl(11,100%,56%);
$theme-light-grey: gray;
$theme-dark-grey: gray;
$theme-shadow: lighten($theme-light-grey, 5%);
$theme-main-background: white;

// defining bulma variables
$footer-background-color: $orange-faded;

// navbar
$navbar-background-color: $theme-dark-primary;
$navbar-height: 5rem;
$navbar-item-color: $theme-light-primary;
$navbar-item-hover-color: $theme-light-primary-hover;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $theme-light-primary-hover;

// discussion
$theme-discussion-background: #F3F6F9;
$theme-discussion-background-2: #DEECF7;
$theme-discussion-background-3: #2D4150;
$theme-discussion-border: #CCCCCC;
$theme-discussion-list-background: #F2F6F9;

// modal
$modal-card-head-background-color: #F2F6F9;
$modal-card-head-border-bottom: #F2F6F9;
$modal-card-body-background-color: #F2F6F9;
$modal-card-foot-border-top: #F2F6F9;
$modal-card-title-color: black;

// (?) legacy
$panel-block-active-border-left-color: $orange;
$panel-block-active-icon-color: $orange;
$table-background-color: opacity(0);

// Dropdown
$navbar-dropdown-border-top: 1px solid $border;
$navbar-dropdown-radius: 0;
$navbar-dropdown-shadow: 1px 2px 3px hsla(0,0%,0%,.15);
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-hover-color: inherit;

// Box
$box-shadow: 0 0 0 1px $border-superlight;
$box-radius: 0;