# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
/.nuxt

# Nuxt generate
dist

# Postgres dev database
.pgdata

# Docker npm cache
.npm_cache

# Secrets
/docker-app-dev/.env

/test/e2e/screenshots/
/test/e2e/videos/
/test/repo/tmp/

.env
