.admin-table {
  @extend .is-fullwidth;
  border: 1px solid hsla(0,0%,0%,.1);
  font-size: .9em;
  background: white;

  thead th {
    padding: 1em;
    border-bottom: none;
    color: white;
    background: $theme-dark-primary;
    font-weight: normal;

    a {
      color: white;
    }

    .dropdown {      
      .dropdown-trigger {
        cursor: pointer;
        
        button, button:hover {
          border: none;
          color: inherit;
          background: none;
          padding: 0;
          margin: 0;
          font-size: 1em;
          display: flex;
        }
      }
      .dropdown-divider {
        background: $theme-dark-primary;
      }
      a {
        color: $theme-dark-primary;
        background: white;
      }
      .dropdown-item {
        &.is-active, &:hover {
          color: white;
          background: $theme-dark-primary;
        }
      }
    }
  }

  tbody td {
    padding: 1em;
    .avatar {
      height: 40px;
      width: 40px;
    }
  }

  .info {
    font-size: .8em;
    color: $theme-dark-grey;
  }

  code {
    color: $theme-dark-primary;
  }
}

.sort-icon {
  margin-left: .2em;
  
  .material-design-icon {
    font-size: 1.5em;
  }
}

.draft-actions {
  @extend .has-text-right;

  .edit-draft {
    @extend .is-small;
    @extend .is-info;
  }
  .discard-draft {
    @extend .is-small;
    @extend .is-dark-info;
  }
}
