.class-box {
  position: relative;
  overflow: hidden;
  @extend .box;
  padding: 0;

  a {
    padding: .8rem 1.6rem .7rem;
    display: block;
    text-decoration: none;
    color: inherit;
    font-weight: inherit;

    &:hover .class-box-title,
    .class-box-title:hover {
      color: white;
      outline: 0;

      &:after {
        left: -3px;
        right: -3px;
        bottom: -4px;
        height: calc(1.5rem + 8px);
      }
    }
  }

  .class-box-update {
    font-size: 0.6rem;
    font-weight: $weight-normal;
  }

  .class-box-icon {
    width: 32px;
    height: 34px;
    margin: .6rem 0 .2rem;
    background-repeat: no-repeat;
    &.pouch {
      background-image: url('../images/zazuko/ic-pouch.svg');
    }
    &.class {
      background-image: url('../images/zazuko/ic-class.svg');
    }
  }

  .class-box-title {
    font-weight: $weight-bold;
    @extend .highlighted-link;
    max-width: 100%;

    @include touch {
      display: table;
    }

    .ellipsis {
      display: block;
    }
  }

  .class-box-level {
    display: block;
    font-size: 0;
  }

  .class-box-level-item {
    display: inline-block;
    font-size: 0.8rem;
    width: 50%;
    padding-right: 5px;
  }

  .class-box-label {
    display: block;
    font-size: 0.7rem;
    font-weight: $weight-normal;
  }

  .class-box-toast {
    position: absolute;
    top: 0; right: 0;
    padding: .7em 1.25em;
    font-weight: $weight-normal;
    font-size: 0.75rem;
    background: hsl(0,0%,95%);
  }
}
