.discussion {
  padding: $box-padding;
  margin: 1em 0 2em 0;
  background-color: $box-background-color;
  box-shadow: $box-shadow;
  color: $box-color;

  .discussion-card {
    .level-left {
      max-width: 90%;

      @include touch {
        max-width: 100%;
      }
    }
  }

  .discussion-avatar {
    width: 40px; height: 40px;
    border-radius: 100%;
    vertical-align: middle;
  }

  .discussion-form {
    position: relative;

    .media-left {
      min-width: 58px;
      text-align: right;
      margin-top: .4em;
    }

    .media-right {
      width: 150px;
      text-align: right;

      .icon i {
        font-size: 2em;
        cursor: pointer;
      }

      .discussion-post-button {
        position: absolute;
        bottom: 0; right: 0;

        .button {
          width: 150px;
        }
      }
    }

    &.discussion-message {
      .media-left {
        min-width: 40px;
      }

      .media-right {
        .discussion-post-button {
          bottom: 1em; right: 1em;
        }
      }
    }
  }

  .discussion-infos {
    margin-top: 1em;
    font-size: .9em;

    .creation-info {
      color: $theme-dark-grey;
    }

    .author-info {
      font-style: normal;
      font-weight: $weight-medium;
    }
  }

  .discussion-actions {
    img {
      margin: 0 0 0 5px;
      width: 20px; height: 20px;
      cursor: pointer;
    }
  }

  .discussion-message {
    position: relative;
    padding: 1em;
    overflow: hidden;
    background: white;

    &.is-from-thread-author {
      background: hsl(0,0%,97%);
    }

    &.has-hat {
      background: hsl(45,100%,78%);
      color: $black;

      .creation-info {
        color: hsl(45,60%,36%) !important;
      }

      pre {
        background: hsla(0,0%,100%,.3);
      }

      .discussion-actions img {
        filter: invert(1);
      }
    }

    &:not(:last-child) {
      margin-bottom: 1em;
    }

    .media-content > *:first-child {
      margin-top: .5em;
    }

    .discussion-message-info {
      margin-bottom: .5em;

      .author-info {
        font-weight: $weight-medium;
      }

      .creation-info {
        font-size: .9em;
        color: $theme-dark-grey;
      }
    }

    .discussion-message-content {
      // in editor.scss
    }

    .discussion-message-hat {
      position: absolute;
      bottom: 0; right: 0;
      line-height: 30px;
      padding: 0 1em;

      color: white;
      background: $theme-light-primary;
      font-size: .9em;
    }
  }
}

.conversation-title {
  margin-top: 1em;
}

@include touch {
  .discussion {
    .discussion-form {
      padding-bottom: 50px;

      .media-right {
        position: absolute;
        bottom: 0; right: 0;
        width: 100%;
        text-align: right;
        display: block;

        .field {
          display: inline-block;
          margin: 0;
        }

        .select {
          width: 150px;
        }

        .discussion-post-button {
          position: static;
        }
      }
    }
  }
}
