.vote-box {
  font-size: 0.9rem;

  &--admin {
    display: flex;
  }

  .vote-cell {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    align-items: center;
    justify-content: center;

    button {
      @extend .is-active;
      height: 42px;
      padding-top: 3px;

      &.is-dark-info {
        color: white;
      }
    }
  }
}
