/*
To implement DCF design, replace each of these with a new scss file in this `dcf-components`
folder, add new files, etc.

- Don't change anything in `white-label-components`
- It shouldn't be necessary to change anything in `scss/app.scss`

*/
// general stylesheets
@import "generic.scss";
@import "navbar.scss";

// layout stylesheets
@import "layouts/layout-objects-list.scss";
@import "layouts/layout-object-details.scss";
@import "layouts/layout-conversation.scss";
@import "layouts/layout-proposal.scss";
@import "layouts/layout-admin.scss";

// generic stylesheets
@import "generics/table.scss";

// component stylesheets
@import "components/class-box.scss";
@import "components/discussion-list.scss";

// old stylesheets
@import "../white-label-components/admin.scss";
@import "../white-label-components/discussions.scss";
@import "../white-label-components/spinning-loader.scss";
@import "../white-label-components/vote.scss";
// @import "../white-label-components/proposal-progression.scss";
// @import "../white-label-components/proposal.scss";
// @import "../white-label-components/side-nav.scss";
