/*
To implement DCF design, replace each of these with a new scss file in this `dcf-components`
folder, add new files, etc.

- Don't change anything in `white-label-components`
- It shouldn't be necessary to change anything in `scss/app.scss`

*/
@import "../white-label-components/generic.scss";

@import "navbar.scss";

@import "../white-label-components/admin.scss";
@import "../white-label-components/discussions.scss";
@import "../white-label-components/proposal-progression.scss";
@import "../white-label-components/proposal.scss";
@import "../white-label-components/side-nav.scss";
@import "../white-label-components/spinning-loader.scss";
@import "../white-label-components/vote.scss";
