.footer {
  color: $theme-light-primary;
  margin-top: 3em;
  padding: 1em 0;

  .footer-icon {
    height: 70px;
    padding: 15px 50px 15px 0;
  }

  .footer-back-icon {
    font-size: 1.5em;
  }
}
