.main-title {
  @extend .is-size-1;
  @extend .has-text-weight-light;
  color: $theme-light-primary;
}

ul.dash-bullet {
    list-style-type: none;
    padding-left: 1em;

  li:before {
    content: "–";
    position: absolute;
    margin-left: -1em;
  }
}

ul.types-list {
  @extend .dash-bullet;
}

section hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.clickable-pointer {
  cursor: pointer;
}

.hoverable-icon {
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}
