@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
// @import "../../node_modules/bulma/sass/utilities/initial-variables";

@import "../../node_modules/bulma/sass/utilities/_all";

$panel-block-active-border-left-color: $orange;
$panel-block-active-icon-color: $orange;

@import "../../node_modules/bulma/sass/base/_all";
@import "../../node_modules/bulma/sass/elements/_all";
@import "../../node_modules/bulma/sass/components/_all";
@import "../../node_modules/bulma/sass/grid/_all";
@import "../../node_modules/bulma/sass/layout/_all";
/*
// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;
*/

// 4. Import the rest of Bulma
// @import "../../node_modules/bulma/bulma";
@import "../../node_modules/@mdi/font/css/materialdesignicons.min.css";

// Override for ObjectTree
.menu-list.side-nav {
  li ul {
    margin: 0.2em 0 0.5em 0.75em;
    padding-left: 0;
  }
  a.is-current {
    @extend .has-background-success;
  }
}

body {
  background-color: #F2F3F7;
  min-height: 100vh;
}

.is-class-subform > div > .box,
.is-prop-subform > div > .box {
  background-color: #f3f6f9;
  border-radius: 0 0 6px 6px;
}

.has-prop-subform {
  border-radius: 6px 6px 0 0;
}

ul.progression {
  list-style-type: disc;
  margin-left: 20px;
  li {
    color: $grey-light;
    a {
      color: $grey-light;
    }
    &.done {
      @extend .has-text-info;
      a {
        @extend .has-text-info;
      }
    }
  }
}
