@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
// @import "../../node_modules/bulma/sass/utilities/initial-variables";

@import "../../node_modules/bulma/sass/utilities/_all";

$panel-block-active-border-left-color: $orange;
$panel-block-active-icon-color: $orange;
$table-background-color: opacity(0);

@import "../../node_modules/bulma/sass/base/_all";
@import "../../node_modules/bulma/sass/elements/_all";
@import "../../node_modules/bulma/sass/components/_all";
@import "../../node_modules/bulma/sass/grid/_all";
@import "../../node_modules/bulma/sass/layout/_all";
/*
// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;
*/

// 4. Import the rest of Bulma
// @import "../../node_modules/bulma/bulma";

@import "./components/_all";

@import "../../node_modules/@mdi/font/css/materialdesignicons.min.css";

body {
  background-color: #F2F3F7;
  min-height: 100vh;
}

.is-class-subform > div > .box,
.is-prop-subform > div > .box {
  background-color: #f3f6f9;
  border-radius: 0 0 6px 6px;
}

.has-prop-subform {
  border-radius: 6px 6px 0 0;
}

table.table ul {
  li::before {
    content: "–";
  }
}

.proposal-submit {
  margin-top: 20px;
}

table tbody tr td a {
  text-decoration: underline;
}

section hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
