@charset "utf-8";

@import "../../node_modules/@mdi/font/scss/materialdesignicons";

// base variables, needs to be imported before any bulma import
@import "./dcf-components/_initial-variables";

@import "../../node_modules/bulma/sass/utilities/_all";

// other variables, variables built upon bulma utilities
@import "./dcf-components/_variables";

@import "../../node_modules/bulma/sass/base/_all";
@import "../../node_modules/bulma/sass/elements/_all";
@import "../../node_modules/bulma/sass/form/_all";
@import "../../node_modules/bulma/sass/components/_all";
@import "../../node_modules/bulma/sass/grid/_all";
@import "../../node_modules/bulma/sass/layout/_all";

@import "./dcf-components/_all";
