.discussion-info {
  text-align: right;
  font-size: 0.9rem;
}

.topic-box {
  @extend .box;
}

.answer-box {
  @extend .box;
  // this position: relative makes it possible for .answer-hat to be 'absolute'
  position: relative;

  .answer-info {
    .creation-info {
      font-size: 0.9rem;
      color: $grey;
    }
    margin-bottom: 1rem;
  }

  .answer-hat {
    @extend .has-background-link;
    @extend .has-text-white;
    @extend .has-text-centered;

    position: absolute;
    right: 0;
    bottom: 0;

    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 3px 10px;
    min-width: 80px;
  }
}

.reply-box {
  @extend .box;
  box-shadow: none;
  margin-top: 10px;
  .media-right {
    align-self: stretch;
    display: flex;

    .opposite-fields {
      display: flex;
      flex-direction: column;

      .bottom {
        margin-top: auto;
      }
    }
  }
}

.topic-info {
  font-size: 0.9rem;
  .creation-info {
    color: $grey;
  }
}
