.has-hat .discussion-message-content {
  blockquote,
  blockquote span,
  blockquote p,
  code {
    font-size: 14px;
    color: #000;
  }
  h1,
  h2,
  p,
  strong {
    color: #fff;
  }
}

.discussion-message-content {
  h1,
  h2,
  p,
  code {
    font-size: 14px;
    color: #000;
  }
  blockquote {
    background-color: #F3F6F9;
    border-left: solid 6px #d8d8d8;
    padding: 10px;
    p {
      color: #666666;
    }
    span {
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      margin-bottom: 10px;
    }
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
    &:after {
      display: none;
    }
  }
  h1,
  h2 {
    display: block;
    width: 100%;
    font-weight: 500;
    line-height: 21px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  code {
    background-color: #F3F6F9;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  ul,
  ol {
    padding-left: 25px;
  }
  ul {
    list-style-type: disc;
  }
  ul li p,
  ol li p {
    margin-bottom: 0;
  }
}

.editor {
  .menubar {
    background-color: white;
    width: 100%;
    background-color: #F6F8FA;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px solid #CCCCCC;
    border-bottom: none;
    padding: 6px;

    button {
      border: none;
      background-color: inherit;
      padding: 3px;
    }
  }

  .editor__content {
    .ProseMirror {
      padding: 10px;
      min-height: 100px;
      background-color: white;
      border: 1px solid #c9c9c9;
      @extend .discussion-message-content;
      resize: vertical;
      overflow-y: scroll;
    }
  }
}
