.object-edit-button {
  @extend .button;
  @extend .has-background-light;

  border: none;
  padding: 0;
  margin-left: 15px;
  margin-top: 16px;

  height: 30px;
  width: 30px;

  img {
    height: 18px;
    width: 18px;
  }
}

.proposal-draft {
  &.is-class-subform > div > .box,
  &.is-prop-subform > div > .box {
    background-color: #f3f6f9;
    border-radius: 0 0 6px 6px;
  }
}

.has-prop-subform {
  border-radius: 6px 6px 0 0;
}

.proposal-submit {
  margin-top: 20px;
}
