// Override for ObjectTree
.side-nav-col {
  @extend .has-background-white-ter;

  .side-nav {
    & > li ul {
      margin: 0.2em 0 0.5em 0.75em;
      padding-left: 0;
    }
    a.is-current {
      @extend .has-background-success;
      color: white;
    }
  }
}
