.has-primary-background,
.has-secondary-background {
  min-height: 100vh;
  padding: 0 0 100px 0; margin: 0;
  position: relative;
}

.has-primary-background {
  background: $theme-main-background;
}

.has-secondary-background {
  background: white;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  @include touch {
    .level-left {
      display: flex;
      a {
        // for the logo
        padding-left: 15px;
      }
    }
    .level-right {
      // hide link "go to top"
      display: none;
    }
  }
}

.main-title {
  @extend .is-size-1;
  @extend .has-text-weight-light;
  color: $theme-light-primary;
}

ul.dash-bullet {
    list-style-type: none;
    padding-left: 1em;

  li:before {
    content: "–";
    position: absolute;
    margin-left: -1em;
  }
}

ul.types-list {
  @extend .dash-bullet;
}

section hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.clickable-pointer {
  cursor: pointer;
}

.hoverable-icon {
  opacity: 0.3;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.button.is-dark-info {
  background: $theme-dark-primary;
  border: none;
  color: white;
}

.pagination {
  margin-bottom: 1em;
}

.aligned-with-button {
  margin-top: 3.5px;
  display: inline-block;
}

.title-url {
  display: inline-block;
  font-family: $family-monospace;
  color: $theme-dark-primary;
}
a.title-url {
  text-decoration: underline;
}
