// defining bulma variables
$link: $cerulean;
$link-visited: $malibu;
$family-primary: $family-sans-serif;

// navbar
$navbar-height: 5rem;

// discussion
$theme-discussion-border: $light-grey;
$theme-discussion-list-background: transparent;
$table-background-color: transparent;

// ---------------------------
// -- PROD
// theme colors
$theme-light-primary: $black;
$theme-light-primary-hover: $night-rider;
$theme-dark-primary: #2C3E50;
$theme-light-secondary: #E67E22;
$theme-light-grey: #BFC5CA;
$theme-dark-grey: #959FA6;
$theme-shadow: lighten($theme-light-grey, 5%);
$theme-main-background: $smoke;

// discussion
$theme-discussion-background: #F3F6F9;
$theme-discussion-background-2: #DEECF7;
$theme-discussion-background-3: #2D4150;

// modal
$modal-card-head-background-color: #F2F6F9;
$modal-card-head-border-bottom: #F2F6F9;
$modal-card-body-background-color: #F2F6F9;
$modal-card-foot-border-top: #F2F6F9;
$modal-card-title-color: black;

// (?) legacy
$panel-block-active-border-left-color: $orange;
$panel-block-active-icon-color: $orange;
