// defining bulma variables
$link: $cerulean;
$link-visited: $malibu;
$family-primary: $family-sans-serif;

// navbar
$navbar-height: 5rem;

// discussion
$theme-discussion-border: $light-grey;
$theme-discussion-list-background: transparent;
$table-background-color: transparent;
