.votes {
  font-size: 0.9rem;
  &--admin {
    display: flex;
  }

  .vote-cell {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
      @extend .is-active;
      height: 42px;
      padding-top: 3px;
      &.user-vote {
        @extend .is-info;
      }
    }
  }
}
