.class-box {
  position: relative;
  overflow: hidden;
  @extend .box;

  padding: 0;
  background: $smoke;
  border: 1px solid $light-grey;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  border-radius: 0;

  &:hover, &:focus {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .18);
  }

  a {
    padding: 1rem;
    display: block;
    text-decoration: none;
    color: $night-rider;
  }

  .class-box-update {
    font-size: 0.6rem;
  }

  .class-box-icon {
    padding: 0.8rem 0 0 0;
  }

  .class-box-title {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .class-box-level {
    display: block;
    font-size: 0;
  }

  .class-box-level-item {
    display: inline-block;
    font-size: 0.8rem;
    width: 50%;
    padding-right: 5px;
  }

  .class-box-label {
    font-size: 0.7rem;
    display: block;
  }

  .class-box-label {
    display: block;
    font-weight: bold;
  }

  .class-box-toast {
    position: absolute;
    top: 0; right: 0;
    padding: 0.6rem 1.2rem;

    font-weight: bold;
    font-size: 0.8rem;
    border: 1px solid $venetian-red;
    background: $red;
    color: $white;
  }
}
