.progression-box {
  hr {
    margin-bottom: 1em;
  }

  ul {
    padding-top: .5em;
    padding-left: 1em;
    list-style-type: disc;
    font-size: .9em;

    li {
      margin: .25em 0;
      color: $night-rider;

      a {
        color: $night-rider;
      }

      &.done {
        color: $cerulean;

        a {
          color: $cerulean;

          &:hover, &:focus {
            color: $black;
          }
        }
      }
    }
  }
}
