.layout-objects-list {
  padding-bottom: 4em;
}

.layout-objects-list-head {
  padding: 2.5rem 0;

  .main-title {
    text-align: center;
  }

  .subtitle {
    text-align: center;
  }
}

.layout-objects-list-item {
  padding: 2rem 0;

  .title {
    @extend .is-size-3;
    @extend .subtitle;
    color: $theme-light-primary;
  }
}

.layout-objects-list-tools {
  padding-top: 2.5rem;

  .button {
    @extend .is-info;
    background: $theme-light-primary;
  }
}
