.layout-object-details {
  .columns {
    margin-top: 0;
    margin-right: 0em;
    margin-left: 0em;
  }
}

.layout-object-details-sidenav {
  position: relative;
  background: $theme-dark-grey;
  padding: 2rem 2rem 2rem 0;

  min-height: calc(100vh - 186px);

  color: white;

  &:before {
    content: '';
    position: absolute;
    background: $theme-dark-grey;
    top: 0; right: 100%; bottom: 0;
    width: 2000px;
  }

  .menu-label {
    padding: 4rem 0 2rem 0;
    border-bottom: solid 1px white;

    color: white;
    font-variant: normal;
    text-transform: none;
    font-size: 1rem;
  }

  .menu-list {
    ul {
      margin: 0;
      margin-left: 24px;
      border-left: none;
    }

    a {
      color: $theme-light-grey;

      .icon {
        width: 24px;
        color: white;
        justify-content: left;

        i {
          font-weight: bold;
        }
      }

      &:hover, &:focus {
        background: none;
        color: white;
      }

      &.is-active {
        background: none;
        font-weight: bold;
        color: white;
      }
    }
  }
}

.layout-object-details-content {
  .section {
    padding: 1.5rem;
  }

  .breadcrumb {
    color: $theme-light-primary;

    a {
      text-decoration: underline;

      &:hover, &:focus {
        text-decoration: none;
        color: $theme-light-primary;
      }
    }

    li + li::before {
      content: '>';
      color: $theme-light-primary;
    }
  }

  .title {
    &.is-1 {
      font-weight: 300;
      color: $theme-light-primary;
    }

    &.is-2 {
      font-weight: 300;
      color: $theme-light-primary;
      font-size: 2rem;
      margin-top: 1em;
      margin-bottom: 0.5em;
    }

    &.is-3 {
      font-weight: bold;
      font-size: 1rem;
      margin-top: 1em;
      margin-bottom: 0;
    }
  }

  .title-edit-button {
    display: inline-block;
    line-height: 30px; height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;

    border-radius: 0;
    background: #efefef;
    font-size: 0.8em;
    color: $theme-dark-grey;

    img {
      widows: 18px; height: 18px;
      margin: 6px;
    }

    &:hover, &:focus {
      background: $theme-light-primary;
      color: white;

      img {
        color: white;
      }
    }
  }

  .goto-nav {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      a {
        display: inline-block;
        color: black;
        text-decoration: underline;
        padding-right: 2rem;

        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }
  }
}
