.layout-objects-list {
  padding-bottom: 4em;
}

.layout-objects-list-head {
  padding: 6rem 0 1rem;

  .main-title {
    text-align: center;
  }

  .subtitle {
    text-align: center;
    margin: 0 9rem;
  }
  
  .columns {
    margin: 0 9rem;
  }
}

.layout-objects-list-item {
  padding: 2rem 0;

  .title {
    @extend .is-size-3;
    color: $theme-light-primary;
  }
}

.layout-objects-list-tools {
  padding-top: 2.5rem;
}

.object-tiles {
  flex-wrap: wrap;
  .object-tile {
    @extend .is-3;
    @media screen and (min-width: 769px) and (max-width: 1023px) {
      width: 50% !important;
    }
  }
}
