.layout-admin {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3em;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  
  .title {
    @include touch {
      text-align: initial;
    }
  }

  .layout-admin-header {
    padding: 3em 0 1em;
    
    @include touch {
      padding: 1rem 1.5rem;
      
      + .pagination {
        margin-top: -1rem;
      }
    }

    h1 {
      font-size: 3em;
      font-weight: 300;
      color: $theme-light-primary;
    }
  }

  .layout-admin-nav {
    padding: 4px 0;
    font-size: .9em;
    position: relative; // move it in front of the descriptive text columns in the hats section

    li {
      display: inline-block;
      margin-right: 20px;

      a {
        padding: 5px 0;
        color: $theme-dark-grey;
        border-bottom: solid 4px transparent;
        display: block;

        &:hover, &:focus, &.is-active {
          color: $theme-light-primary;
          border-bottom-color: $theme-light-primary;
        }
      }
    }
  }

  .layout-admin-panel {    
    p {
      padding-bottom: 1em;
    }
  }

  &-main {
    flex-basis: 100%;
    
    > p {
      @include touch {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }

  .code {
    font-family: $family-monospace;
    font-weight: $weight-medium;
  }

  .settings-form {
    h2.subtitle {
      @extend %headline;
      font-size: 1.4em;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    h1.title {
      margin-bottom: 0.5em;
      &+h2.subtitle {
        margin-top: 0;
      }
    }
    p.text {
      margin-bottom: 2em;
    }
  }
}
