name: Test

on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version:
          - 14
          - 16
          - 18

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - name: Setup
        run: |
          cp .env.example .env
          docker-compose up -d db
          npm install -g wait-on
          npm ci
      - name: Migrate
        run: npm run e2e:migrate
      - name: Unit tests
        run: npm run test:unit
      - name: E2E tests
        run: |
          NODE_TEST=1 npm run build
          NODE_TEST=1 npm run start &
          PID1=$!
          wait-on http://localhost:3000/zom/about && npm run test:integration
          npm run test:e2e
          kill $PID1
      - name: Tear down
        run: docker-compose down
